body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  margin: 0;
}

header {
  text-align: center;
  padding: 20px;
  background: #020617;
}

.container {
  display: flex;
  height: 90vh;
}

.controls {
  width: 25%;
  background: #020617;
  padding: 20px;
}

.controls button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background: #2563eb;
  border: none;
  color: white;
  cursor: pointer;
}

.simulation {
  width: 75%;
  background: #020617;
}

canvas {
  width: 100%;
  height: 100%;
}
